__pycache__/
*.py[cod]
*$py.class
\env
\venv
.env
.DS_Store
# AI & Data
backend/logs/
backend/data/processed_links.json
backend/data/devices.json
backend/data/cached_alerts.json
# Ensure company_names.json and training_examples.json are NOT ignored

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/
android/local.properties
